APP_ENVIRONMENT=development
PORT=8080

DATABASE_URL="postgres://postgres:password@127.0.0.1:5432/example"
DATABASE_POOL_MAX_SIZE=50
# Used in tests to remove the database prefix from DATABASE_URL and replace it with a random database name.
DATABASE_NAME="example"

# Configures which modules `tracing_subscriber` should emit logs for.
#
# This variable is read by `tracing_subscriber`, not the application itself, so it won't appear on the `Settings` struct.
#
# The value here enables log messages from the backend application as well as log messages emitted for incoming requests.
RUST_LOG=server=debug,tower_http=info,sqlx=info
